body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:644px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:644px;
  height:1259px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:1259px;
}
#u2 {
  position:absolute;
  left:2px;
  top:622px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:61px;
  top:168px;
  width:540px;
  height:38px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:38px;
}
#u4 {
  position:absolute;
  left:2px;
  top:11px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:61px;
  top:1059px;
  width:540px;
  height:72px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:72px;
}
#u6 {
  position:absolute;
  left:2px;
  top:28px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:61px;
  top:204px;
  width:540px;
  height:855px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:856px;
}
#u8 {
  position:absolute;
  left:2px;
  top:420px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:166px;
  width:541px;
  height:962px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:962px;
}
#u10 {
  position:absolute;
  left:2px;
  top:473px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:252px;
  top:320px;
  width:154px;
  height:57px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:underline;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:58px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:180px;
  top:420px;
  width:302px;
  height:16px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  visibility:hidden;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:271px;
  top:446px;
  width:139px;
  height:21px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:154px;
  top:586px;
  width:62px;
  height:39px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:39px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:234px;
  top:595px;
  width:275px;
  height:21px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:322px;
  top:492px;
  width:147px;
  height:38px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:39px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:60px;
  top:637px;
  width:541px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:532px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:541px;
  height:1px;
}
#u24 {
  position:absolute;
  left:154px;
  top:700px;
  width:364px;
  height:140px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:140px;
}
#u25 {
  position:absolute;
  left:2px;
  top:62px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:154px;
  top:890px;
  width:356px;
  height:60px;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:61px;
}
#u27 {
  position:absolute;
  left:2px;
  top:18px;
  width:352px;
  word-wrap:break-word;
}
