body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:644px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:644px;
  height:1340px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:1340px;
}
#u2 {
  position:absolute;
  left:2px;
  top:662px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:61px;
  top:178px;
  width:540px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:61px;
  top:1126px;
  width:540px;
  height:77px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:77px;
}
#u6 {
  position:absolute;
  left:2px;
  top:30px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:61px;
  top:216px;
  width:540px;
  height:910px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:911px;
}
#u8 {
  position:absolute;
  left:2px;
  top:447px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:169px;
  width:541px;
  height:962px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:962px;
}
#u10 {
  position:absolute;
  left:2px;
  top:473px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:80px;
  top:204px;
  width:160px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:460px;
  top:204px;
  width:67px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:533px;
  top:205px;
  width:67px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:62px;
  top:168px;
  width:541px;
  height:962px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:962px;
}
#u15 {
  position:absolute;
  left:2px;
  top:473px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:254px;
  top:395px;
  width:155px;
  height:53px;
  font-family:'Roboto-Thin', 'Roboto Thin', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:55px;
  color:#0D658C;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:54px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:150px;
  top:960px;
  width:360px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
