body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:644px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:1259px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:1259px;
}
#u2 {
  position:absolute;
  left:2px;
  top:622px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:51px;
  top:158px;
  width:540px;
  height:38px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:38px;
}
#u4 {
  position:absolute;
  left:2px;
  top:11px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:51px;
  top:1049px;
  width:540px;
  height:72px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:72px;
}
#u6 {
  position:absolute;
  left:2px;
  top:28px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:51px;
  top:194px;
  width:540px;
  height:855px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:856px;
}
#u8 {
  position:absolute;
  left:2px;
  top:420px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:50px;
  top:156px;
  width:541px;
  height:962px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:962px;
}
#u10 {
  position:absolute;
  left:2px;
  top:473px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:212px;
  top:340px;
  width:220px;
  height:114px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:115px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:174px;
  top:546px;
  width:284px;
  height:33px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:underline;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:50px;
  top:526px;
  width:541px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:532px;
  top:-5px;
  width:14px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:541px;
  height:1px;
}
#u16 {
  position:absolute;
  left:212px;
  top:616px;
  width:220px;
  height:64px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:65px;
}
#u17 {
  position:absolute;
  left:0px;
  top:18px;
  width:220px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:172px;
  top:920px;
  width:300px;
  height:55px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:56px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
