body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:3px;
  top:0px;
  width:597px;
  height:1259px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:1259px;
}
#u2 {
  position:absolute;
  left:2px;
  top:622px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:51px;
  top:158px;
  width:500px;
  height:38px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:38px;
}
#u4 {
  position:absolute;
  left:2px;
  top:11px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:51px;
  top:1049px;
  width:500px;
  height:72px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:72px;
}
#u6 {
  position:absolute;
  left:2px;
  top:28px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:51px;
  top:194px;
  width:500px;
  height:855px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:856px;
}
#u8 {
  position:absolute;
  left:2px;
  top:420px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:50px;
  top:160px;
  width:502px;
  height:889px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:889px;
}
#u10 {
  position:absolute;
  left:2px;
  top:436px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:60px;
  top:206px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:50px;
  top:160px;
  width:502px;
  height:889px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:889px;
}
#u13 {
  position:absolute;
  left:2px;
  top:436px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:130px;
  top:880px;
  width:340px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
