body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:13px;
  top:10px;
  width:597px;
  height:1259px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:1259px;
}
#u2 {
  position:absolute;
  left:2px;
  top:622px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:61px;
  top:168px;
  width:500px;
  height:38px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:38px;
}
#u4 {
  position:absolute;
  left:2px;
  top:11px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:61px;
  top:1059px;
  width:500px;
  height:72px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:72px;
}
#u6 {
  position:absolute;
  left:2px;
  top:28px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:61px;
  top:204px;
  width:500px;
  height:855px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:856px;
}
#u8 {
  position:absolute;
  left:2px;
  top:420px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:170px;
  width:502px;
  height:889px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:889px;
}
#u10 {
  position:absolute;
  left:2px;
  top:436px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:70px;
  top:216px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:242px;
  top:320px;
  width:139px;
  height:57px;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:underline;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:90px;
  top:410px;
  width:64px;
  height:21px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:90px;
  top:515px;
  width:40px;
  height:21px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:90px;
  top:709px;
  width:212px;
  height:21px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:90px;
  top:610px;
  width:103px;
  height:21px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:90px;
  top:438px;
  width:73px;
  height:38px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:90px;
  top:544px;
  width:92px;
  height:38px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:90px;
  top:641px;
  width:174px;
  height:38px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:90px;
  top:740px;
  width:161px;
  height:38px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:460px;
  top:748px;
  width:69px;
  height:21px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
